.table-wrapper{
    display: table;
    width: 100%;
}
.table-cell-wrapper {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
}
.panel-heading {
    background-color: #c4edff;
    text-align: center;
}
.panel-footer {
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.panel-footer .btn-success {
    width: 150px;
}
#edit-operators {
    margin-top: 24px;
    display: inline-block;
}
.wrapper {
    margin-top: 100px;
}
.operators-table, .calls-log-table {
    height: 400px;
    overflow-y: scroll;
    display:block;
    width: 100%;
}
.operators-table th, .operators-table td, .calls-log-table th, .calls-log-table td{
    width: 30%;
}
.admin-panel {
    z-index: 1;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
}
.admin-panel form{
    margin: 0;
}
.admin-panel div{
    display: inline-block;
}
#update-operators {
    margin-top: 24px;
    width: 95px;
    display: inline-block;
}
#edit-cancel {
    margin-top: 24px;
    width: 95px;
    display: inline-block;
}
#edit-operators-table>tbody>tr:hover{
    background-color: #00f1ff61;
    cursor: pointer;
}
#edit-operators-table>tbody>tr:nth-child(2):hover{
    background-color: #fff;
    cursor: default;
}
.input-cell {
    height: 25px;
}
.popup-wrapper {
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105,105,105,0.8);
    overflow: hidden;
}
.popup {
    position: relative;
    top: 25%;
    border-radius: 6px;
}
.popup p {
    font-size: 16px;
}
#save-operators, #edit-operators-cancel {
    width: 125px;
}
.calls-log-wrapper {
    display: none;
}